<script src="assets/js/main.min.js"></script>

{% include analytics.html %}
{% include fetch_google_scholar_stats.html %}

<script>
  // 監聽事件，確保在頁面DOM結構都準備好之後才執行
  document.addEventListener("DOMContentLoaded", function() {

    // 檢查頁面上是否有地球儀的容器，有的話才執行後續動作
    if (document.getElementById('globeViz')) {

      // 動態載入 globe.gl 函式庫
      var globeScript = document.createElement('script');
      globeScript.src = 'https://unpkg.com/globe.gl';
      document.head.appendChild(globeScript);

      // 當 globe.gl 函式庫載入完成後，才初始化地球儀
      globeScript.onload = function() {
        const globe = Globe()
          (document.getElementById('globeViz'))
          .globeImageUrl('//unpkg.com/three-globe/example/img/earth-night.jpg')
          .backgroundImageUrl('//unpkg.com/three-globe/example/img/night-sky.png')
          .backgroundColor('rgba(0,0,0,0)') // 背景透明
          .showGraticules(true)
          .pointsData([
            { lat: 22.9987, lng: 120.2195, size: 0.5, color: 'yellow' }, // NCKU
            { lat: 24.1231, lng: 120.6740, size: 0.5, color: 'green' },  // NCHU
            { lat: 55.9533, lng: -3.1883,  size: 0.5, color: 'red' }      // example
          ])
          .pointAltitude(0)
          .pointColor('color')
          .pointRadius('size');

        globe.controls().autoRotate = true;
        globe.controls().autoRotateSpeed = 0.4;
        globe.controls().enableZoom = false; // 禁用滾輪縮放
        globe.pointOfView({ lat: 23.5, lng: 121, altitude: 2.5 });
      };
    }

    // 檢查頁面上是否有訪客地圖的容器
    if (document.getElementById('revolvermaps-container')) {
      var revolverScript = document.createElement('script');
      revolverScript.type = 'text/javascript';
      revolverScript.async = true;
      revolverScript.src = '//rf.revolvermaps.com/0/0/6.js?i=54e0ojatafc&m=7&c=e63100&cr1=ffffff&f=arial&l=0&bv=90&lx=-420&ly=420&hi=20&he=7&hc=a8ddff&rs=80';
      document.getElementById('revolvermaps-container').appendChild(revolverScript);
    }
  });
</script>